body {
    justify-content: center;
    display: flex;
    background-image: url(../images/pasture.jpeg);
    height: 900px;
}

main {
    height: 900px;
    width: 825px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}

div {
    border-radius: 35px;
}

#carrot-icon {
    height: 65px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#game-intro {
    background-image: url(../images/Start_Screen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    width: 825px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

#play-button {
    height: 90px;
    margin-bottom: 200px;
    margin-left: 15px;
    padding: 0px;
}

/* @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}  */


 #game-container {
    height: 830px;
    width: 825px;
    display: none ;
    justify-content: center;
    align-items: center;
 } 

 #game-screen {
    height: 750px;
    width: 825px;
    display: none;
    justify-content: center;
    background-image: url(../images/Game_Screen.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

#stats {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0;
    height: 60px;
    padding: 0 20px;
} 

.item {
    width: 325px;
    height: 200px;
    /* position: absolute; */
    /* position: fixed; */
    /* bottom: 140px; */
}

.carrot {
    width: 350px;
    height: 200px;
    /* position: absolute;
    position: fixed; */
    /* bottom: 145px; */
}

#item-container {
    margin-top: -200px;
    margin-left: -5%;
    width: 373px;
    height: 200px;
    bottom: 150px;
    position: fixed;
    align-items: center;
    overflow-x: hidden;

}

.slide-out {
    position: absolute;
    animation: slideout 2s linear 1
}


@keyframes slideout {

    0% {
      left: 0%;
    }

    50% {
        left: 100%;
    }
 
    100% {
      left: 200%;
    }

  }

  #end-container {
    height: 830px;
    width: 825px;
    display: none ;
    justify-content: center;
    align-items: center;
 } 

 #win-lose {
    height: 750px;
    width: 825px;
    display: none;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  
}

 #final-stats {
    display: flex;
    justify-content: center;
    text-align: center;
}

#final-score {
    font-size: 50px;
}