body {
    padding: 0;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(../images/pasture.jpeg);
    
}

div {
    border-radius: 35px;
}

#carrot-icon {
    height: 60px;
    padding: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
}


/* main {
    height: 775px;
    width: 850px;
} */

#game-intro {
    /* padding: 20px 0px; */
    background-image: url(../images/Start\ Screen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    width: 825px;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    display: flex;

}

#play-button {
    height: 125px;
    margin-bottom: 200px;
    padding-left: 30px;
}

#game-container {
    height: 750px;
    width: 825px;
    display: none;
    justify-content: center;
    background-image: url(../images/Game\ Screen.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* display: none; */
}

/* #game-screen {
    display: none;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/Game\ Screen.jpg);
    height: 700px;
    width: 900px;
    display: flex;
    justify-content: center;
} */



#game-end {

}